{
    "$schema": "http://json.schemastore.org/prettierrc",
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 80,
    "endOfLine": "lf",
    "tabWidth": 4,
    "useTabs": true
}